.wrapper{
    width: 100%;
}
.hero {
    width: 100%;
    aspect-ratio: 2/2;
    /* background-image: var(--hero-image); */
    background-size: cover;
    overflow: hidden;
    background-position: center bottom -50px;
    display: flex;
    align-items: center;
    height: 50px;
    /* background-color: aqua; */
}
.hero img{
    width: 100%;
}
.d-block.w-100{
    height: 620px;
}